**Career Accelerator - Project One**
**Hanoi Group - Week One**

# Business Understanding

Data Analysis is the process of inspecting, cleaning, processing and modeling data to extract meaningful information to make
decisions.This project uses a dataset about the indian start-up companies and their informations such as location,
year founded, company name, etc as well as their funding history from 2018 to 2021, To perform an exploratory data analysis 
and draw insights from useful information found

One of the great way for a good analysis work is to understand the business problem you are trying to solve.
For a better understanding of the problem, create an objective or a scenario to work around

### Aim
As an analyst of an investment company, investigate the indian startup ecosystem so that the company can make data driven
decisions about entering into the indian startup business

## Hypothesis

### Null Hpyothesis - Indian Start-ups in the technology industry are likely to receieve funding 

### Alternative Hypothesis -  indian startupsin the technology industry are not likely to receive funding

## Questions

##### 1. what are the top five sectors where funding is maximum?
##### 2. what is the highest type of investment made?
##### 3. what is the maximum amount of funding recieved by a startup?
##### 4. what are the top five startups which are investor's favourite?
##### 5. what is the total amount of funds each year?
##### 6. In which year did a startup recieve the highest amount of funding?

# Setup

## Installation
Here is the section to install all the packages/libraries that will be needed to tackle the challlenge.

In [1]:
# !pip install -q <lib_001> <lib_002> ...

## Importation
Here is the section to import all the packages/libraries that will be used through this notebook.

In [2]:
# Data handling
import pandas as pd
import numpy as np

# Vizualisation (Matplotlib, Plotly, Seaborn, etc. )
import matplotlib.pyplot as plt
import seaborn as sns
import re

# EDA (pandas-profiling, etc. )
...

# Feature Processing (Scikit-learn processing, etc. )
...

# Machine Learning (Scikit-learn Estimators, Catboost, LightGBM, etc. )
...

# Hyperparameters Fine-tuning (Scikit-learn hp search, cross-validation, etc. )
...

# Other packages
import os

# Data Loading
Here is the section to load the datasets (train, eval, test) and the additional files

In [3]:
# For CSV, use pandas.read_csv
data_2018 = pd.read_csv('startup_funding2018.csv')
data_2019 = pd.read_csv('startup_funding2019.csv')
data_2020 = pd.read_csv('startup_funding2020.csv')
data_2021 = pd.read_csv('startup_funding2021.csv')

# Exploratory Data Analysis: EDA
Here is the section to **inspect** the datasets in depth, **present** it, make **hypotheses** and **think** the *cleaning, processing and features creation*.

## Dataset overview

Have a look at the loaded datsets using the following methods: `.head(), .info()`

### Previewing Data set and Providing Summary Information

### 2018 Dataset

In [4]:
# Code here
data_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [5]:
print(data_2018.info(),'\n')
data_2018

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB
None

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [6]:
data_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [7]:
data_2018[:50]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...
6,Tripshelf,"Internet, Leisure, Marketplace",Seed,"₹16,000,000","Kalkaji, Delhi, India",Tripshelf is an online market place for holida...
7,Hyperdata.IO,Market Research,Angel,"₹50,000,000","Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...
8,Freightwalla,"Information Services, Information Technology",Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...
10,BizCrum Infotech Pvt. Ltd.,"B2B, Shoes",Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st..."
12,Flock,"Apps, Collaboration, Developer Platform, Enter...",Seed,—,"India, Asia",Flock is a real-time messaging and collaborati...
13,Freshboxx,Food Delivery,Seed,—,"Hubli, Karnataka, India","Freshboxx is incubated at Sandbox Startups, a ..."
14,Wide Mobility Mechatronics,Industrial Automation,Seed,—,"Bangalore, Karnataka, India",Wide Mobility Mechatronics is a Private Compan...
15,Pitstop,"Automotive, Search Engine, Service Industry",Seed,"₹100,000,000","Bengaluru, Karnataka, India",Pitstop offers general repair and maintenance ...
16,Mihuru,"Finance, Internet, Travel",Seed,150000,"Mumbai, Maharashtra, India",Mihuru is an online platform which gives micro...
17,Fyle,"Accounting, Business Information Systems, Busi...",Seed,1100000,"Bengaluru, Karnataka, India",Fyle is an intelligent expense management plat...
18,AppWharf,"Artificial Intelligence, Product Search, SaaS,...",Seed,—,"New Delhi, Delhi, India",Appwharf is an intelligent assistant that help...
19,Antariksh Waste Ventures Pvt ltd,"Internet of Things, Waste Management",Seed,"₹500,000","Chennai, Tamil Nadu, India",Waste Management for Smart Cities
20,Cogoport,"Air Transportation, Freight Service, Logistics...",Series A,6000000,"Mumbai, Maharashtra, India",Cogoport is a platform that provides freight b...
21,PaisaDukan,Financial Services,Seed,650000,"Mumbai, Maharashtra, India",A P2P lending marketplace platform
22,Sleepy Owl Coffee,Food and Beverage,Seed,"₹35,000,000","New Delhi, Delhi, India",Makers of a signature coffee that's exceptiona...
23,BlueJack,Autonomous Vehicles,Seed,"₹64,000,000","Delhi, Delhi, India",Delhi-based online used vehicles marketplace.
24,PregBuddy,"Enterprise Software, Health Care, Hospital, Pa...",Seed,—,"Bengaluru, Karnataka, India",PregBuddy is a smart connected care platform f...
25,AgNext Technologies,"Agriculture, Analytics, Big Data, Farming",Series A,—,"Mohali, Punjab, India",AgNext is an agricultural sensing and solution...
26,Pando,"Logistics, Supply Chain Management",Seed,2000000,"Chennai, Tamil Nadu, India",A startup which digitizes logistics operations...
27,Mintifi,"Financial Services, Lending",Seed,2000000,"Mumbai, Maharashtra, India",Online lending startup based in Mumbai.
28,Carcrew,"Automotive, Marketplace, Online Portals",Seed,2000000,"Mumbai, Maharashtra, India",India's Online Auto Repair Marketplace
29,NicheAI,Artificial Intelligence,Angel,—,"Hyderabad, Andhra Pradesh, India",Early stage Artificial Intelligence (AI) start...
30,Chariot Tech,"Internet of Things, Telecommunications",Seed,"₹20,000,000","New Delhi, Delhi, India",Chariot Tech is an Internet of Things (IoT) st...
31,Ideal Insurance Brokers/ 121Policy.com,Insurance,Seed,1000000,"Kolkata, West Bengal, India",Ideal Insurance Broking is one of the leaders ...
32,Loanzen,Financial Services,Seed,—,"Bangalore, Karnataka, India",Loanzen helps small businesses get unsecured w...
33,Mojro Technologies,"Information Technology, Logistics, Supply Chai...",Seed,650000,"Bengaluru, Karnataka, India",Mojro envisions to be the world's largest tech...
34,Elemential,"Blockchain, Developer Tools, Enterprise Software",Seed,1000000,"Mumbai, Maharashtra, India","Blockchain Development Platform To Design, Run..."
35,Loadshare,"Industrial Automation, Logistics, Supply Chain...",Series A,5000000,"Bengaluru, Karnataka, India",LoadShare is India’s fastest growing logistics...
36,Yumlane,"Food and Beverage, Food Delivery, Snack Food",Series A,4000000,"Mumbai, Maharashtra, India",Food startup Yumlane operated by QwikPik Techn...
37,Kriger Campus,Education,Seed,"₹30,000,000","New Delhi, Delhi, India",A Education Start Up.
38,Pipa+Bella,"E-Commerce, Fashion, Jewelry, Retail",Series A,1000000,"Mumbai, Maharashtra, India",Pipa+Bella is an online store aimed at selling...
39,Kaleidofin,Financial Services,Seed,2800000,"Chennai, Tamil Nadu, India",A fintech platform.
40,Chakr Innovation,Renewable Energy,Seed,—,"New Delhi, Delhi, India",Chakr has developed the world’s first retro-fi...
41,IndigoLearn,"E-Learning, Education",Seed,150000,"Hyderabad, Andhra Pradesh, India",India's the premier education destination cate...
42,UClean,"Clean Energy, CleanTech, Laundry and Dry-cleaning",Seed,"₹40,000,000","India, Asia",UClean is a tech enabled laundry service provi...
43,Coutloot,"E-Commerce, Fashion, Mobile",Seed,1000000,"Mumbai, Maharashtra, India",The Fashion Re-commerce platform.
44,Letstrack,"Apps, Messaging, Navigation, Public Safety",Seed,1700000,"New Delhi, Delhi, India",Letstrack GPS tracking devices to track your k...
45,Pooltoo,Transportation,Seed,—,"New Delhi, Delhi, India",Pooltoo offers a premium ride sharing platform.
46,Finzy,"Financial Services, Lending",Seed,1300000,"Bangalore, Karnataka, India",finzy is the premier peer to peer lending solu...
47,Fitternity,"Fitness, Health Care, Wellness",Seed,2000000,"Mumbai, Maharashtra, India",India's largest online fitness platform that p...
48,Keito,"Artificial Intelligence, Machine Learning, Saa...",Seed,—,"Pune, Maharashtra, India",Building an Intelligent Digital Assistant.
49,Tolet for Students,Hospitality,Seed,"₹5,000,000","Jodhpur, Rajasthan, India","Reserve your Room, Hostel or Paying Guest, whi..."

In [8]:
data_2018.iloc[4,3]

'—'

### 2019 Dataset

In [9]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [10]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

### 2020 Dataset

In [11]:
print(data_2020.info(),'\n')
data_2020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Unnamed: 9     2 non-null      object
dtypes: object(10)
memory usage: 82.5+ KB
None

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures","$1,500,000",NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital","$13,200,000",Seed Round,NaN
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,"$8,000,000",NaN,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,"$8,043,000",Series C,NaN
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,"$9,000,000",Series A,NaN

### 2021 Dataset

In [12]:
print(data_2021.info(),'\n')
data_2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount($)      1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB
None

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

###  Observations from previewing the datasets
**The 2018 DataFrame**
- The columns in 2018 are different from those of 2019 - 2021, meaning they have to be renamed for concatenation.
- The amounts in the 2018 DataFrame are a mix of Indian Rupees (INR) and US Dollars (USD), meaning they have to be converted into same currency.
- The industry and location columns have multiple information. A decision is to be made between selecting the first value before the separator(,) as the main value, or representing that column with a wordcloud.

**The 2019 DataFrame**
- The datatype of the "Founded" column is set to float64. It should be set to a string for uniformity.
- The headquarter column has multiple information. A decision is to be made between selecting the first value before the separator(,) as the main value, or representing that column with a wordcloud.

**The 2020 DataFrame**
- There is an extra column called "Unnamed:9", giving it a total of 10 columns. It should be dropped to ensure complete alignment with the other DataFrames for ease of concatenation.

**The 2021 DataFrame**
- The datatype of the "Founded" column is set to float64. It should be set to a string for uniformity.

**General Observations**
- The currency signs and commas have to be removed from each of amount column for each DataFrame.

### Assumptions

- The 2022 average INR/USD rate will be used to convert the Indian Rupee values to US Dollars in the 2018 DataFrame.
- First values of industry and location in the 2018 data will be selected as the primary sector and headquarters respectively.
- Amounts without currency symbols are assumed to be in USD ($)
- Financial analysis will be narrowed to transactions whose amounts are available in the loaded data.

### Correcting Errors observed From Exploring The Various Datasets

### Correcting errors in 2018 datsets

In [13]:
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [14]:
data_2018['Industry'] = data_2018['Industry'].apply(str)
data_2018['Industry'] = data_2018['Industry'].str.split(',').str[0]
data_2018['Industry'] = data_2018['Industry'].replace("'","",regex=True)

In [15]:


data_2018['Location'] = data_2018['Location'].apply(str)
data_2018['Location'] = data_2018['Location'].str.split(',').str[0]
data_2018['Location'] = data_2018['Location'].replace("'","",regex = True)

In [16]:

data_2018['Amount'].value_counts()

—              148
1000000         24
500000          13
2000000         12
₹50,000,000      9
              ...
2200000          1
1200000          1
$15,000          1
$1,041,000       1
35000000         1
Name: Amount, Length: 198, dtype: int64

In [17]:
data_2018['Amount'] = data_2018['Amount'].apply(str)



data_2018['Amount'] = data_2018['Amount'].replace(",","",regex = True)
data_2018['Amount'] = data_2018['Amount'].replace("—",0)
data_2018['Amount'] = data_2018['Amount'].replace("$","")
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!

In [18]:
data_2018['Amount'] = data_2018['Amount'].replace(",","")
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!

In [19]:
data_2018['INR_Amount'] = data_2018['Amount'].str.rsplit('₹',n =2).str[1]
data_2018
data_2018['INR_Amount'] = data_2018['INR_Amount'].apply(float).fillna(0)
data_2018
data_2018['USD_Amount'] = data_2018['INR_Amount']*0.01208
data_2018
data_2018['USD_Amount'] = data_2018['USD_Amount'].replace(0,np.nan)
data_2018
data_2018['USD_Amount'] = data_2018['USD_Amount'].fillna(data_2018['Amount'])
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount,USD_Amount
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...,40000000.0,483200.0
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India,65000000.0,785200.0
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...,0.0,2000000
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...,0.0,0
...,...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif...",0.0,225000000
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.,0.0,0
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...,0.0,7500
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...,35000000.0,422800.0
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!,0.0,35000000

In [20]:
data_2018['USD_Amount'].value_counts()

0           148
1000000      24
500000       13
2000000      12
604000.0      9
           ...
2200000       1
1200000       1
$15000        1
$1041000      1
35000000      1
Name: USD_Amount, Length: 198, dtype: int64

In [21]:
data_2018['USD_Amount'] = data_2018['USD_Amount'].apply(str)
data_2018['USD_Amount'] = data_2018['USD_Amount'].replace('$','',regex = True)

In [22]:
data_2018['USD_Amount'] = data_2018['USD_Amount'].apply(lambda x: float(str(x).replace("$","")))
data_2018['USD_Amount'].value_counts()

0.0          148
1000000.0     27
2000000.0     15
500000.0      13
5000000.0      9
            ...
1800000.0      1
2200000.0      1
1200000.0      1
15000.0        1
7500.0         1
Name: USD_Amount, Length: 180, dtype: int64

In [23]:
data_2018['USD_Amount'] = data_2018['USD_Amount'].replace(0,np.nan)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount,USD_Amount
0,TheCollegeFever,Brand Marketing,Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000.0
1,Happy Cow Dairy,Agriculture,Seed,₹40000000,Mumbai,A startup which aggregates milk from dairy far...,40000000.0,483200.0
2,MyLoanCare,Credit,Series A,₹65000000,Gurgaon,Leading Online Loans Marketplace in India,65000000.0,785200.0
3,PayMe India,Financial Services,Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...,0.0,2000000.0
4,Eunimart,E-Commerce Platforms,Seed,0,Hyderabad,Eunimart is a one stop solution for merchants ...,0.0,NaN
...,...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,Bangalore,"Udaan is a B2B trade platform, designed specif...",0.0,225000000.0
522,Happyeasygo Group,Tourism,Series A,0,Haryana,HappyEasyGo is an online travel domain.,0.0,NaN
523,Mombay,Food and Beverage,Seed,7500,Mumbai,Mombay is a unique opportunity for housewives ...,0.0,7500.0
524,Droni Tech,Information Technology,Seed,₹35000000,Mumbai,Droni Tech manufacture UAVs and develop softwa...,35000000.0,422800.0
525,Netmeds,Biotechnology,Series C,35000000,Chennai,Welcome to India's most convenient pharmacy!,0.0,35000000.0

In [24]:
data_2018.drop(columns= ['INR_Amount','Amount'], inplace = True)
data_2018

,Company Name,Industry,Round/Series,Location,About Company,USD_Amount
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,483200.0
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,785200.0
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,Bangalore,"Udaan is a B2B trade platform, designed specif...",225000000.0
522,Happyeasygo Group,Tourism,Series A,Haryana,HappyEasyGo is an online travel domain.,NaN
523,Mombay,Food and Beverage,Seed,Mumbai,Mombay is a unique opportunity for housewives ...,7500.0
524,Droni Tech,Information Technology,Seed,Mumbai,Droni Tech manufacture UAVs and develop softwa...,422800.0
525,Netmeds,Biotechnology,Series C,Chennai,Welcome to India's most convenient pharmacy!,35000000.0

In [25]:
data_2018.rename(columns = {'USD_Amount':'Amount'}, inplace = True)
data_2018

,Company Name,Industry,Round/Series,Location,About Company,Amount
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,483200.0
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,785200.0
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,Bangalore,"Udaan is a B2B trade platform, designed specif...",225000000.0
522,Happyeasygo Group,Tourism,Series A,Haryana,HappyEasyGo is an online travel domain.,NaN
523,Mombay,Food and Beverage,Seed,Mumbai,Mombay is a unique opportunity for housewives ...,7500.0
524,Droni Tech,Information Technology,Seed,Mumbai,Droni Tech manufacture UAVs and develop softwa...,422800.0
525,Netmeds,Biotechnology,Series C,Chennai,Welcome to India's most convenient pharmacy!,35000000.0

In [26]:

data_2018['Round/Series'] = data_2018['Round/Series'].replace("https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593", "Seed")

In [27]:
data_2018['Year_of_Funding'] = '2018'
data_2018

,Company Name,Industry,Round/Series,Location,About Company,Amount,Year_of_Funding
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,483200.0,2018
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,785200.0,2018
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,Bangalore,"Udaan is a B2B trade platform, designed specif...",225000000.0,2018
522,Happyeasygo Group,Tourism,Series A,Haryana,HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,Food and Beverage,Seed,Mumbai,Mombay is a unique opportunity for housewives ...,7500.0,2018
524,Droni Tech,Information Technology,Seed,Mumbai,Droni Tech manufacture UAVs and develop softwa...,422800.0,2018
525,Netmeds,Biotechnology,Series C,Chennai,Welcome to India's most convenient pharmacy!,35000000.0,2018

### Correcting errors in the 2019 Dataframe

In [28]:
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [29]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [30]:
data_2019['Founded'] = data_2019['Founded'].apply(str)

In [31]:
data_2019['Amount($)'] = data_2019['Amount($)'].apply(str)
data_2019['Amount($)'] = data_2019['Amount($)'].replace(",","",regex=True)
data_2019['Amount($)'] = data_2019['Amount($)'].replace("Undisclosed",np.nan,regex = True)
data_2019[:21]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,nan,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,$6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,$150000000,Series C
2,Eduisfun,nan,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",$28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",$30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),$6000000,NaN
5,FlytBase,nan,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,NaN,NaN
6,Finly,nan,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",NaN,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",$1000000,Pre series A
8,Quantiphi,nan,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,$20000000,Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,$275000000,Series G
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,A B2C brand that focusses on premium and comf...,"Abhay Bhat, Kinnar Shah",Venture Catalysts,NaN,NaN
11,Appnomic,nan,Bangalore,SaaS,"It is a self-healing enterprise, the IT operat...",D Padmanabhan,Avataar Ventures,$22000000,NaN
12,Kaleidofin,2018.0,Chennai,Fintech,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,$5000000,Series A
13,JobSquare,2019.0,Ahmedabad,HR tech,Technology-based platform that is connecting s...,Ishit Jethwa,Titan Capital,$140500,NaN
14,Open Secret,nan,NaN,Food tech,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,NaN,NaN
15,LivFin,2017.0,Delhi,Fintech,"Grants small business loans, supply chain fina...",Rakesh Malhotra,German development finance institution DEG,$5000000,NaN
16,Byju's,2011.0,NaN,Edtech,Provides online learning classes,Byju Raveendran,"South Africa’s Naspers Ventures, the CPP Inves...",$540000000,NaN
17,Zest Money,2015.0,Bangalore,Fintech,Uses AI to do risk profiling of e-commerce con...,"Chapman, Priya Sharma, Ashish Anantharaman",Goldman Sachs.,$15000000,Series B
18,Witblox,2014.0,NaN,Edtech,Offers a range of robotics learning tools,Amit Modi,Mumbai Angels Network,$182700,NaN
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,Aims to solve some problems in the feminine hy...,"Mohammed, Shashwat Diesh","Kunal Bahl, Rohit Bansal.",NaN,Pre series A
20,SalaryFits,2015.0,NaN,Fintech,A platform that promotes financial well-being ...,Renato Araujo,Brazilian VC Fund Confrapar,$5000000,NaN

In [32]:
data_2019['Amount($)'].value_counts()

$5000000      6
$1500000      4
$6000000      4
$1000000      4
$30000000     3
$20000000     3
$50000000     3
$4000000      3
$5500000      3
$26000000     2
$2000000      2
$12000000     2
$100000       2
$5700000      1
$693000000    1
$4800000      1
$120000000    1
$311000000    1
$6800000      1
$36000000     1
$2800000      1
$220000       1
$600000       1
$7000000      1
$2100000      1
$70000000     1
$60000000     1
$8000000      1
$25000000     1
$6300000      1
$100000000    1
$11000000     1
$28000000     1
$275000000    1
$22000000     1
$140500       1
$540000000    1
$15000000     1
$182700       1
$15500000     1
$400000       1
$2500000      1
$140000       1
$230000000    1
$49400000     1
$32000000     1
$150000000    1
$150000       1
$33000000     1
Name: Amount($), dtype: int64

In [33]:
data_2019['Amount($)'] = data_2019['Amount($)'].apply(lambda x: float(str(x).replace("$","")))
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,nan,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,nan,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,nan,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,NaN
88,Ess Kay Fincorp,nan,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,NaN

In [34]:
data_2019['Amount($)'] = data_2019['Amount($)'].replace("nan",np.nan, regex = True)
data_2019[:21]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,nan,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,nan,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN
5,FlytBase,nan,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,NaN,NaN
6,Finly,nan,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",NaN,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1000000.0,Pre series A
8,Quantiphi,nan,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,20000000.0,Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,275000000.0,Series G
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,A B2C brand that focusses on premium and comf...,"Abhay Bhat, Kinnar Shah",Venture Catalysts,NaN,NaN
11,Appnomic,nan,Bangalore,SaaS,"It is a self-healing enterprise, the IT operat...",D Padmanabhan,Avataar Ventures,22000000.0,NaN
12,Kaleidofin,2018.0,Chennai,Fintech,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,5000000.0,Series A
13,JobSquare,2019.0,Ahmedabad,HR tech,Technology-based platform that is connecting s...,Ishit Jethwa,Titan Capital,140500.0,NaN
14,Open Secret,nan,NaN,Food tech,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,NaN,NaN
15,LivFin,2017.0,Delhi,Fintech,"Grants small business loans, supply chain fina...",Rakesh Malhotra,German development finance institution DEG,5000000.0,NaN
16,Byju's,2011.0,NaN,Edtech,Provides online learning classes,Byju Raveendran,"South Africa’s Naspers Ventures, the CPP Inves...",540000000.0,NaN
17,Zest Money,2015.0,Bangalore,Fintech,Uses AI to do risk profiling of e-commerce con...,"Chapman, Priya Sharma, Ashish Anantharaman",Goldman Sachs.,15000000.0,Series B
18,Witblox,2014.0,NaN,Edtech,Offers a range of robotics learning tools,Amit Modi,Mumbai Angels Network,182700.0,NaN
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,Aims to solve some problems in the feminine hy...,"Mohammed, Shashwat Diesh","Kunal Bahl, Rohit Bansal.",NaN,Pre series A
20,SalaryFits,2015.0,NaN,Fintech,A platform that promotes financial well-being ...,Renato Araujo,Brazilian VC Fund Confrapar,5000000.0,NaN

In [35]:
data_2019['Year_of_Funding'] = '2019'
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year_of_Funding
0,Bombay Shaving,nan,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C,2019
2,Eduisfun,nan,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN,2019
...,...,...,...,...,...,...,...,...,...,...
84,Infra.Market,nan,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A,2019
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,NaN,2019
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B,2019
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,NaN,2019
88,Ess Kay Fincorp,nan,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,NaN,2019

### Correcting Errors in the 2020 Dataframe

In [36]:
data_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures","$1,500,000",NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital","$13,200,000",Seed Round,NaN
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,"$8,000,000",NaN,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,"$8,043,000",Series C,NaN
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,"$9,000,000",Series A,NaN

In [37]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Unnamed: 9     2 non-null      object
dtypes: object(10)
memory usage: 82.5+ KB

In [38]:
#dropping the extra column in the 2020 Dataframe
data_2020.drop(columns = ['Unnamed: 9'],inplace = True)

In [39]:
data_2020['HeadQuarter'] = data_2020['HeadQuarter'].apply(str)


data_2020['HeadQuarter'] = data_2020['HeadQuarter'].str.split(',').str[0]

data_2020['HeadQuarter'] = data_2020['HeadQuarter'].replace("'","",regex= True)
data_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures","$1,500,000",NaN
1051,EpiFi,NaN,nan,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital","$13,200,000",Seed Round
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,"$8,000,000",NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,"$8,043,000",Series C
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,"$9,000,000",Series A

In [40]:
data_2020['Amount($)'].value_counts()

Undisclosed    243
$1,000,000      53
$2,000,000      39
$3,000,000      27
$5,000,000      24
              ...
$26,500,000      1
$351,000         1
$ 8,700,000      1
$46,761,000      1
$8,043,000       1
Name: Amount($), Length: 309, dtype: int64

In [41]:
data_2020['Amount($)'] = data_2020['Amount($)'].apply(str)
data_2020['Amount($)'] = data_2020['Amount($)'].replace(",","",regex = True)
data_2020['Amount($)'] = data_2020['Amount($)'].replace("Undisclosed",np.nan,regex = True)

data_2020['Amount($)'] = data_2020['Amount($)'].replace("nan",np.nan, regex = True)
data_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,$200000,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,$100000,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",$400000,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",$340000,NaN
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",$1500000,NaN
1051,EpiFi,NaN,nan,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",$13200000,Seed Round
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,$8000000,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,$8043000,Series C
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,$9000000,Series A

In [42]:
data_2020.loc[data_2020['Company/Brand']=="True Balance","Stage"]

136         NaN
465    Series C
Name: Stage, dtype: object

In [43]:
data_2020.loc[data_2020['Company/Brand']=="True Balance","Stage"] = "Series C"

In [44]:
data_2020[130:137]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
130,Instoried,2018,Bangalore,AI startup,Instoried is an augmented writing platform whi...,"Sharmin Ali, Sutanshu Raj","Venture Catalysts, SOSV",$1000000,Pre-series A
131,PlayerzPot,2015,Mumbai,Gaming startup,"Favorite fantasy cricket, football & kabaddi l...","Yogesh, Mitesh Gangar",NaN,$3000000,Series A
132,Instamojo,2012,Bangalore,FinTech,Instamojo is an on-demand payments platform th...,"Aditya Sengupta, Akash Gehani, Harshad Sharma,...","BASE, Gunosy Capital",NaN,NaN
133,Turtlemint,2015,Mumbai,HealthTech,Turtlemint has built Indian personalized insur...,"Anand Prabhudesai, Dhirendra Mahyavanshi, Kuna...","Nexus Venture Partners, Dream Incubator",$30000000,NaN
134,Arata,2017,New Delhi,E-commerce,Arata is an e-commerce site for beauty product...,"Dhruv Madhok, Dhruv Bhasin",DSG Consumer Partners,$1000000,Pre-series A
135,MPL,2018,Bangalore,Gaming startup,Mobile Premier League is a skill-based eSports...,"Sai Srinivas Kiran G, Shubham Malhotra","Pegasus Tech Ventures, Base Partners",$5000000,NaN
136,True Balance,2014,Gurugram,FinTech,True Balance is a digital wallet that enables ...,"Cheolwon Lee, Jay Yi, Martin Lee","IBK Capital, SB Partners",$28000000,Series C

In [45]:
data_2020.drop([465], axis = 0, inplace = True)
data_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,$200000,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,$100000,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",$400000,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",$340000,NaN
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",$1500000,NaN
1051,EpiFi,NaN,nan,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",$13200000,Seed Round
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,$8000000,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,$8043000,Series C
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,$9000000,Series A

In [46]:
data_2020[471:473]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
472,Eruditus,2010,Mumbai,Education,Bring world-class business and professional ed...,"Chaitanya Kalipatnapu, Ashwin Damera","Bertelsmann India Investments, Sequoia Capital...",$800000000 to $850000000,NaN
473,Gradeup,2015,Noida,Education,"India's largest exam preparation destination,",Shobhit Bhatnagar,"Times Internet, TLabs",$546000,NaN

In [47]:
data_2020.loc[data_2020['Company/Brand'] =="Eruditus", ["Amount($)","Stage"]] = [113000000,"Series D"]
data_2020.loc[data_2020['Company/Brand'] =="Eruditus"]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
472,Eruditus,2010,Mumbai,Education,Bring world-class business and professional ed...,"Chaitanya Kalipatnapu, Ashwin Damera","Bertelsmann India Investments, Sequoia Capital...",113000000,Series D

In [48]:
data_2020.loc[data_2020['Amount($)'] == "Undisclosed"]
data_2020['Amount($)'] = data_2020['Amount($)'].replace("Undiclsosed",np.nan,regex= True)
data_2020['Amount($)'] = data_2020['Amount($)'].replace("Undislosed",np.nan,regex= True)

In [49]:
data_2020['Amount($)'] = data_2020['Amount($)'].apply(lambda x: float(str(x).replace("$","")))

In [50]:
data_2020

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,NaN
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,NaN
1051,EpiFi,NaN,nan,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,NaN
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A