**Career Accelerator - Project One**
**Hanoi Group - Week One**

# Business Understanding

Data Analysis is the process of inspecting, cleaning, processing and modeling data to extract meaningful information to make
decisions.This project uses a dataset about the indian start-up companies and their informations such as location,
year founded, company name, etc as well as their funding history from 2018 to 2021, To perform an exploratory data analysis 
and draw insights from useful information found

One of the great way for a good analysis work is to understand the business problem you are trying to solve.
For a better understanding of the problem, create an objective or a scenario to work around

### Aim
As an analyst of an investment company, investigate the indian startup ecosystem so that the company can make data driven
decisions about entering into the indian startup business

## Hypothesis

### Null Hpyothesis - Indian Start-ups in the technology industry are likely to receieve funding 

### Alternative Hypothesis -  indian startupsin the technology industry are not likely to receive funding

## Questions

##### 1. what are the top five sectors where funding is maximum?
##### 2. what is the highest type of investment made?
##### 3. what is the maximum amount of funding recieved by a startup?
##### 4. what are the top five startups which are investor's favourite?
##### 5. what is the total amount of funds each year?
##### 6. In which year did a startup recieve the highest amount of funding?

In [3]:
#import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Loading the data files

In [5]:
#load the start up CSV datafiles
startup_2018 = pd.read_csv("startup_funding2018.csv")
startup_2019 = pd.read_csv("startup_funding2019.csv")
startup_2020 = pd.read_csv("startup_funding2020.csv")
startup_2021 = pd.read_csv("startup_funding2021.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'startup_funding2018.csv'

## Viewing each data file

In [ ]:
startup_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [ ]:
startup_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [ ]:
startup_2020.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage', 'Unnamed: 9'],
      dtype='object')

In [ ]:
startup_2021.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

### All datafiles have the same column heads except 2018. 
### An introduction of an unknowm column in 2020

## Modify the column header in 2018 to match the other files

In [ ]:
#remane column header
startup_2018.rename(columns = {'Company Name':'Company/Brand','Industry':'Sector','Location':'HeadQuarter',
                               'About Company':'What it does','Amount':'Amount($)','Round/Series':'Stage'}, inplace = True)

In [ ]:
#Add the year column to each data file 
startup_2018['Year']=2018
startup_2019['Year']=2019
startup_2020['Year']=2020
startup_2021['Year']=2021

In [ ]:
startup_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Unnamed: 9     2 non-null      object
 10  Year           1055 non-null   int64
dtypes: int64(1), object(10)
memory usage: 90.8+ KB

## from the above, we notice the unknown column has only 2 non-null values, so we will drop it

In [ ]:
#drop NaN column 'unnamed'
startup_2020.drop('Unnamed: 9', inplace=True, axis=1)

In [ ]:
startup_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Year           1055 non-null   int64
dtypes: int64(1), object(9)
memory usage: 82.5+ KB

## We now join all the four data files into one single file

In [ ]:
#View the shape of each datafile
startup_2018.shape, startup_2019.shape, startup_2020.shape, startup_2021.shape

((526, 7), (89, 10), (1055, 10), (1209, 10))

In [ ]:
#Joining all the four files using concatenate
data = pd.concat([startup_2018,startup_2019,startup_2020,startup_2021])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2879 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount($)      2873 non-null   object
 4   HeadQuarter    2765 non-null   object
 5   What it does   2879 non-null   object
 6   Year           2879 non-null   int64
 7   Founded        2111 non-null   object
 8   Founders       2334 non-null   object
 9   Investor       2253 non-null   object
dtypes: int64(1), object(9)
memory usage: 247.4+ KB

In [ ]:
data.isna().sum()

Company/Brand      0
Sector            18
Stage            938
Amount($)          6
HeadQuarter      114
What it does       0
Year               0
Founded          768
Founders         545
Investor         626
dtype: int64

In [ ]:
data.duplicated('Company/Brand')

0       False
1       False
2       False
3       False
4       False
        ...
1204     True
1205    False
1206     True
1207     True
1208    False
Length: 2879, dtype: bool

In [ ]:
data.reset_index(drop=True, inplace = True)

In [ ]:
#View the single file columns after joining 
data.columns, data.shape

In [ ]:
#Viewing the first 100 rows in our datafile
data.head(100)

In [ ]:
#Viewing the last 100 rows in our datafile
data.tail(100)

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Year,Founded,Founders,Investor
2779,Leena AI,Computer Software,Series B,$30000000,Gurugram,AI to help enterprises transform the employee ...,2021,2015.0,"Mayank Goyal, Anand Prajapati",Bessemer Venture Partners
2780,CARS24,Automotive,Series F,$450000000,Gurugram,CARS24 is proud to be a tech-first organisatio...,2021,2015.0,"Mehul Agrawal, Vikram Chopra","DST Global, Falcon Edge, SoftBank Vision Fund 2"
2781,Klub,Financial Services,Debt,$2000000,Bangalore,"A team of fintech, investment banking, venture...",2021,2019.0,"Anurakt Jain, Ishita Verma",Trifecta Capital
2782,Bluepad,Online Media,Pre-seed,$200000,Bangalore,A one-stop solution for aggregated content in...,2021,2020.0,"Sanjyot Bhosale, Devakrishna Asokar, Kishore G...","Titan Capital, AngelList's syndicate"
2783,FloBiz,Information Technology & Services,Series B,$31000000,Bangalore,Neobank for Growing SMBs. Simplify GST Billing...,2021,2019.0,"Rahul Raj, Aditya Naik, Rakesh Yadav",Sequoia Capital India
...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2875,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC
2876,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2877,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2878,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [ ]:
data.isna().sum()

Company/Brand      0
Sector            18
Stage            938
Amount($)          6
HeadQuarter      114
What it does       0
Year               0
Founded          768
Founders         545
Investor         626
dtype: int64

In [ ]:
null_Amount = pd.isnull(data["Amount($)"])
   
# filtering data
# displaying data only with Amount = NaN
data[null_Amount]

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Year,Founded,Founders,Investor
644,Delhivery,E-commerce,NaN,NaN,Gurgaon,Delhivery is a supply chain services company t...,2020,2011,"Kapil Bharati, Mohit Tandon, Sahil Barua, Sura...","Steadview Capital, Canada Pension Plan Investm..."
659,PointOne Capital,Venture capitalist,NaN,NaN,Bangalore,Pre-seed/Seed focussed VC investor,2020,2020,Mihir Jha,NaN
850,Tring,Social Media,NaN,NaN,Mumbai,"Tring is a celebrity engagement platform, for ...",2020,2019,"Akshay Saini, Rahul Saini, Pranav Chabhadia","Sujeet Kumar, Hemesh Singh"
1756,Onsurity,HealthCare,NaN,NaN,Bangalore,Onsurity is an employee healthcare platform pr...,2021,2020.0,"Kulin Shah, Yogesh Agarwal","Jitendra Gupta, Harsh Shah"
2344,MYRE Capital,Commercial Real Estate,$6000000,NaN,Mumbai,Democratising Real Estate Ownership,2021,2020.0,Own rent yielding commercial properties,Aryaman Vir
2770,Sochcast,Sochcast is an Audio experiences company that ...,NaN,NaN,Online Media\t#REF!,"CA Harvinderjit Singh Bhatia, Garima Surana, A...",2021,2020.0,"Vinners, Raj Nayak, Amritaanshu Agrawal",$Undisclosed

### When viewing the data with null Amount, we notice a currency entered in the 'Stage' columns. This is attributed to a posible human error during entry.

## Placing the numeric value in the stage column to its right position in the Amount column

In [ ]:
#Set the Amount to 6000000
data.iloc[2344,3]='$6000000'

In [ ]:
#delet the numeric value from the Stage columns
data.iloc[2344,2]=''

In [ ]:
data.isna().sum()

Company/Brand      0
Sector            18
Stage            938
Amount($)          5
HeadQuarter      114
What it does       0
Year               0
Founded          768
Founders         545
Investor         626
dtype: int64

In [ ]:
null_Amount = pd.isnull(data["Amount($)"])
   
# filtering data
# displaying data only with Amount = NaN
data[null_Amount]

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Year,Founded,Founders,Investor
644,Delhivery,E-commerce,NaN,NaN,Gurgaon,Delhivery is a supply chain services company t...,2020,2011,"Kapil Bharati, Mohit Tandon, Sahil Barua, Sura...","Steadview Capital, Canada Pension Plan Investm..."
659,PointOne Capital,Venture capitalist,NaN,NaN,Bangalore,Pre-seed/Seed focussed VC investor,2020,2020,Mihir Jha,NaN
850,Tring,Social Media,NaN,NaN,Mumbai,"Tring is a celebrity engagement platform, for ...",2020,2019,"Akshay Saini, Rahul Saini, Pranav Chabhadia","Sujeet Kumar, Hemesh Singh"
1756,Onsurity,HealthCare,NaN,NaN,Bangalore,Onsurity is an employee healthcare platform pr...,2021,2020.0,"Kulin Shah, Yogesh Agarwal","Jitendra Gupta, Harsh Shah"
2770,Sochcast,Sochcast is an Audio experiences company that ...,NaN,NaN,Online Media\t#REF!,"CA Harvinderjit Singh Bhatia, Garima Surana, A...",2021,2020.0,"Vinners, Raj Nayak, Amritaanshu Agrawal",$Undisclosed

In [ ]:
null_Stage = pd.isnull(data["Stage"])
   
# filtering data
# displaying data only with Amount = NaN
data[null_Stage]

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Year,Founded,Founders,Investor
526,Bombay Shaving,Ecommerce,NaN,"$6,300,000",NaN,Provides a range of male grooming products,2019,NaN,Shantanu Deshpande,Sixth Sense Ventures
530,Nu Genes,AgriTech,NaN,"$6,000,000",Telangana,"It is a seed company engaged in production, pr...",2019,2004.0,Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA)
531,FlytBase,Technology,NaN,Undisclosed,Pune,A drone automation platform,2019,NaN,Nitin Gupta,Undisclosed
532,Finly,SaaS,NaN,Undisclosed,Bangalore,It builds software products that makes work si...,2019,NaN,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital..."
536,Cub McPaws,E-commerce & AR,NaN,Undisclosed,Mumbai,A B2C brand that focusses on premium and comf...,2019,2010.0,"Abhay Bhat, Kinnar Shah",Venture Catalysts
...,...,...,...,...,...,...,...,...,...,...
2842,Peppermint,Industrial Automation,NaN,$600000,Pune,Intelligent Housekeeping Robots for public and...,2021,2019.0,"Runal Dahiwade, Miraj C Vora","Venture Catalysts, Indian Angel Network"
2852,Sugar.fit,Health,NaN,$10000000,Bangalore,"Innovative technology, compassionate diabetes ...",2021,2021.0,"Shivtosh Kumar, Madan Somasundaram","Cure.fit, Endiya Partners, Tanglin Venture"
2862,Geniemode,B2B,NaN,$2000000,Gurugram,Transforming global sourcing for retailers & s...,2021,2021.0,"Amit Sharma, Tanuj Gangwani",Info Edge Ventures
2863,Sapio Analytics,Computer Software,NaN,$Undisclosed,Mumbai,Sapio helps government create policies driven ...,2021,2019.0,"Hardik Somani, Ashwin Srivastava, Shripal Jain...","Rachit Poddar, Rajesh Gupta"
2872,Voxelgrids,Deeptech,NaN,$5000000,Bangalore,Voxelgrids is an Magnetic Resonance Imaging te...,2021,2017.0,Arjun Arunachalam,Zoho

In [ ]:
data['New_Amount'] = data['Amount($)'].str.split(',')
data

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Year,Founded,Founders,Investor,New_Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN,[250000]
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN,"[₹40, 000, 000]"
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN,"[₹65, 000, 000]"
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN,[2000000]
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN,[—]
...,...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners,[$3000000]
2875,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC,[$20000000]
2876,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures,[$55000000]
2877,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital",[$26000000]
2878,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",[$8000000]

In [ ]:
data['Amount($)'].astype(float)

ValueError: could not convert string to float: '₹40,000,000'

In [ ]:
for Amount in data.'Amount($)': 
    if data[Amount].dtype=='float':
        data[Amount] = data[Amount].astype(str)

SyntaxError: invalid syntax (1415854574.py, line 1)

In [ ]:
data.duplicated('Amount($)').str.contains('Undisclosed').sum()

AttributeError: Can only use .str accessor with string values!

In [ ]:
contain_values = data[data['New_Amount'].str.contains('Undisclosed')]

print(contain_values)

KeyError: "None of [Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,\n              ...\n              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n             dtype='float64', length=2879)] are in the [columns]"

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount($)      2874 non-null   object
 4   HeadQuarter    2765 non-null   object
 5   What it does   2879 non-null   object
 6   Year           2879 non-null   object
 7   Founded        2111 non-null   object
 8   Founders       2334 non-null   object
 9   Investor       2253 non-null   object
dtypes: object(10)
memory usage: 225.0+ KB

## How to deal with undisclosed data.
## How to convert amount in Rupees to dollars

###  Observations from previewing the datasets
**3.4.1 The 2018 DataFrame**
- The columns in 2018 are different from those of 2019 - 2021, meaning they have to be renamed for concatenation.
- The amounts in the 2018 DataFrame are a mix of Indian Rupees (INR) and US Dollars (USD), meaning they have to be converted into same currency.
- The industry and location columns have multiple information. A decision is to be made between selecting the first value before the separator(,) as the main value, or representing that column with a wordcloud.

**3.4.2 The 2019 DataFrame**
- The datatype of the "Founded" column is set to float64. It should be set to a string for uniformity.
- The headquarter column has multiple information. A decision is to be made between selecting the first value before the separator(,) as the main value, or representing that column with a wordcloud.

**3.4.3 The 2020 DataFrame**
- There is an extra column called "Unnamed:9", giving it a total of 10 columns. It should be dropped to ensure complete alignment with the other DataFrames for ease of concatenation.

**3.4.4 The 2021 DataFrame**
- The datatype of the "Founded" column is set to float64. It should be set to a string for uniformity.

**3.4.5 General Observations**
- The currency signs and commas have to be removed from each of amount column for each DataFrame

In [ ]:
startup_2018

NameError: name 'startup_2018' is not defined

In [ ]:
startup_2018['Industry'] = startup_2018['Industry'].apply(str)
startup_2018['Industry'] = startup_2018['Industry'].str.split(',').str[0]
startup_2018['Industry'] = startup_2018['Industry'].replace("'", "", regex=True)

# Selecting the main locations of the startups as Location
startup_2018['Location'] =startup_2018['Location'].apply(str)
startup_2018['Location'] = startup_2018['Location'].str.split(',').str[0]
startup_2018['Location'] = startup_2018['Location'].replace("'", "", regex=True)

startup_2018

NameError: name 'startup_2018' is not defined

In [ ]:
startup_2018['Amount'] = startup_2018['Amount'].apply(str)
startup_2018['Amount'] = startup_2018['Amount'].replace(",", "", inplace = True, regex=True)
startup_2018['Amount'] = startup_2018['Amount'].replace("—", 0, inplace = True, regex=True)
startup_2018['Amount'] = startup_2018['Amount'].replace("$", "", inplace = True, regex=True)

## Creating temporary columns to help with the conversion of INR to USD
startup_2018['INR Amount'] = startup_2018['Amount'].str.rsplit('₹', n = 2).str[1]
startup_2018['INR Amount'] = startup_2018['INR Amount'].apply(float).fillna(0)
startup_2018['USD Amount'] = startup_2018['INR Amount'] * 0.0146
startup_2018['USD Amount'] = startup_2018['USD Amount'].replace(0, np.nan)
startup_2018['USD Amount'] = startup_2018['USD Amount'].fillna(startup_2018['Amount'])
startup_2018['USD Amount'] = startup_2018['USD Amount'].replace("$", "", regex=True)
startup_2018["Amount"] = startup_2018["USD Amount"]
startup_2018["Amount"] = startup_2018["Amount"].apply(lambda x: float(str(x).replace("$","")))
startup_2018["Amount"] = startup_2018["Amount"].replace(0, np.nan)

# Dropping the temporary columns
startup_2018.drop(columns = ["INR Amount", "USD Amount"], inplace = True)

# Correcting the mistaken Funding Round entry
startup_2018['Round/Series'] = startup_2018['Round/Series'].replace("https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593", "Seed")

# Adding a column to represent the year of funding
#startup_2018["Year of Funding"] = "2018"

print(startup_2018.info(), "\n")
startup_2018